venv/

*.egg-info
*.iml
.tox
*.py[co]
*.so
*.sublime-*
*.sw[nop]
*~
.#*
.DS_Store
._*
.coverage
.idea
.project
.pydevproject
.ropeproject
.toxv
\#*\#
/.venv.touch
/bower_components
/build
/dist
/virtualenv_run
/coverage-html
docs/build
.coverage.*
.cache/
